@import"../menu.css";
body {
	background-image: url("../backgrounds/shades.jpg");
}
#main-title {
	color: white;
}
.header {
	font-size: 15vw;
	padding: 0.7em 0em;
}

.footer > p::first-letter { 
    font-size: 150%;
    color: #9b111e;
}

@media screen and (min-aspect-ratio: 4/3) {
    body {        
    }

	.header {
		padding: 0.4em 0em;
	}

    .content {
		grid-template-columns: repeat(2, 1fr);
	}
}
