@import"../menu.css";
body {
	background-image: url("../backgrounds/porto.jpg");
}
p::first-letter { 
    font-size: 150%;
    color: #9b111e;
}
#main-title {
	margin: 0px;
	
}
.header {
	font-size: 15vw;
	padding: 0.7em 0em;
	color: #222222;
}

@media screen and (min-aspect-ratio: 4/3) {
    body {        
    }
	.header {
		padding: 0.4em 0em;
	}	
	.content {
		grid-template-columns: 1fr 1fr 1fr;
	}

}