@import"../menu.css";
body {
	background-image: url("../backgrounds/floor.jpg");
}
.header {
	font-size: 15vw;
	padding: 0.2em 0em;
}
@media screen and (min-aspect-ratio: 4/3) {
	.header {
		padding: 0.2em 0em;
	}
}